on:
  workflow_dispatch:

jobs:
  build-all-deps:
    runs-on: windows-latest
    steps:
      - name: Download gettext
        uses: dawidd6/action-download-artifact@v3
        with:
          workflow: gettext.yml
          workflow_conclusion: success
          name: gettext-${{ vars.GETTEXT_VERSION }}-win64
          path: /builddeps
          if_no_artifact_found: fail

      - name: Download icu
        uses: dawidd6/action-download-artifact@v3
        with:
          workflow: icu.yml
          workflow_conclusion: success
          name: icu-${{ vars.ICU_VERSION }}-win64
          path: /builddeps
          if_no_artifact_found: fail

      - name: Download krb5
        uses: dawidd6/action-download-artifact@v3
        with:
          workflow: krb5.yml
          workflow_conclusion: success
          name: krb5-${{ vars.KRB5_VERSION }}-win64
          path: /builddeps
          if_no_artifact_found: fail

      - name: Download libiconv
        uses: dawidd6/action-download-artifact@v3
        with:
          workflow: libiconv.yml
          workflow_conclusion: success
          name: libiconv-${{ vars.LIBICONV_VERSION }}-win64
          path: /builddeps
          if_no_artifact_found: fail

      - name: Download libxml2
        uses: dawidd6/action-download-artifact@v3
        with:
          workflow: libxml2.yml
          workflow_conclusion: success
          name: libxml2-${{ vars.LIBXML2_VERSION }}-win64
          path: /builddeps
          if_no_artifact_found: fail

      - name: Download libxslt
        uses: dawidd6/action-download-artifact@v3
        with:
          workflow: libxslt.yml
          workflow_conclusion: success
          name: libxslt-${{ vars.LIBXSLT_VERSION }}-win64
          path: /builddeps
          if_no_artifact_found: fail

      - name: Download lz4
        uses: dawidd6/action-download-artifact@v3
        with:
          workflow: lz4.yml
          workflow_conclusion: success
          name: lz4-${{ vars.LZ4_VERSION }}-win64
          path: /builddeps
          if_no_artifact_found: fail

      - name: Download openssl
        uses: dawidd6/action-download-artifact@v3
        with:
          workflow: openssl.yml
          workflow_conclusion: success
          name: openssl-${{ vars.OPENSSL_VERSION }}-win64
          path: /builddeps
          if_no_artifact_found: fail

      - name: Download ossp-uuid
        uses: dawidd6/action-download-artifact@v3
        with:
          workflow: ossp-uuid.yml
          workflow_conclusion: success
          name: ossp-uuid-${{ vars.OSSP_UUID_VERSION }}-win64
          path: /builddeps
          if_no_artifact_found: fail

      - name: Download winflexbison
        uses: dawidd6/action-download-artifact@v3
        with:
          workflow: winflexbison.yml
          workflow_conclusion: success
          name: winflexbison-${{ vars.WINFLEXBISON_VERSION }}-win64
          path: /builddeps
          if_no_artifact_found: fail

      - name: Download zlib
        uses: dawidd6/action-download-artifact@v3
        with:
          workflow: zlib.yml
          workflow_conclusion: success
          name: zlib-${{ vars.ZLIB_VERSION }}-win64
          path: /builddeps
          if_no_artifact_found: fail

      - name: Download zstd
        uses: dawidd6/action-download-artifact@v3
        with:
          workflow: zstd.yml
          workflow_conclusion: success
          name: zstd-${{ vars.ZSTD_VERSION }}-win64
          path: /builddeps
          if_no_artifact_found: fail

      - name: Upload Binaries
        uses: actions/upload-artifact@v4
        with:
          if-no-files-found: error
          name: all-deps-win64
          path: /builddeps
